[2022-01-18 23:42] renovate[bot] opened #1 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): lock file maintenance

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2022-01-18 23:44] ibis-project-bot[bot] opened #2 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-19 00:02] cpcloud commented on #2
Thank you robot! This is fixed.

[2022-01-19 00:02] #2 closed

[2022-01-24 05:58] ibis-project-bot[bot] opened #11 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-25 01:31] ibis-project-bot[bot] opened #13 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-26 01:45] ibis-project-bot[bot] opened #17 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-26 01:59] ibis-project-bot[bot] opened #18 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-27 01:40] ibis-project-bot[bot] opened #20 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-28 01:27] ibis-project-bot[bot] opened #22 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-29 01:17] ibis-project-bot[bot] opened #25 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-29 01:22] ibis-project-bot[bot] opened #26 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-30 01:30] ibis-project-bot[bot] opened #28 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-31 01:27] ibis-project-bot[bot] opened #31 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-31 12:41] ibis-project-bot[bot] opened #33 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-02-01 21:05] ibis-project-bot[bot] opened #37 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-02-02 01:36] ibis-project-bot[bot] opened #40 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-02-02 01:49] ibis-project-bot[bot] opened #41 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-02-02 10:17] #11 closed

[2022-02-02 10:17] #13 closed

[2022-02-02 10:17] #17 closed

[2022-02-02 10:17] #18 closed

[2022-02-02 10:17] #20 closed

[2022-02-02 10:17] #22 closed

[2022-02-02 10:17] #25 closed

[2022-02-02 10:17] #26 closed

[2022-02-02 10:17] #28 closed

[2022-02-02 10:17] #31 closed

[2022-02-02 10:17] #33 closed

[2022-02-02 10:17] #37 closed

[2022-02-02 10:17] #40 closed

[2022-02-02 10:17] #41 closed

[2022-02-21 14:43] thisisnic opened #74 "Projection including the first column of a table results in empty value for 'field' field"
I'm currently working on a package for creating substrait plans from R, and heavily leaning on the fantastic ibis-substrait for inspiration.  I'm implementing projection but am a bit confused by the numbering - wasn't sure if this is a bug or intentional.

In the tests in `test_compiler.py`, there's a table created via:
[code]
and I've been experimenting with projection by calling:
[code]
resultin

[2022-02-21 15:42] thisisnic commented on #74
Right, I got you, literally that it's the default value and so doesn't print; thanks for clarifying that!

[2022-02-21 15:50] thisisnic commented on #74
Also, when you say "asking on the Substrait slack about zero-indexing for field offsets and default values in protobufs", how do you mean, sorry?

[2022-02-21 15:52] cpcloud commented on #74
Ah, sorry for not being clear.

What I mean is asking whether having the semantics of "the default value is zero but also it means the 0th column" needs more discussion.

[2022-03-08 08:09] rtpsw opened #98 "Expose extension uri parameter in SubstraitCompiler"
Currently, `SubstraitCompiler` only sets `extension_uri_anchor` but leaves out `extension_uri`.

[2022-03-08 08:14] rtpsw commented on #98
https://github.com/ibis-project/ibis-substrait/pull/99

[2022-03-08 08:25] rtpsw opened #100 "Add translation for local table"
This depends on https://github.com/ibis-project/ibis/issues/3562, which adds support for a local table.

[2022-03-08 08:28] rtpsw commented on #100
https://github.com/ibis-project/ibis-substrait/pull/101

[2022-03-14 18:14] rtpsw opened #111 "Support compilation of multiple relations as a sequence"
Currently, the Substrait compiler compiles only a single TableExpr as one relation, such as projection or aggregation. The proposal is to add support for multiple relations that are connected as a sequence of table operations (DAG connections would be handled in a separate issue).

[2022-03-14 18:17] rtpsw commented on #111
Here is a proposed design:

1. Add `WriteRel` in the protobuf definitions.
2. Add a new class RelsExpr derived from Expr that would collect multiple relations (e.g., projection followed by writing) using a fluent API.
3. Add support in the Substrait compiler for handling multiple relations as a sequence of table operations.

[2022-03-14 18:24] icexelloss commented on #111
@rtpsw can you give a bit details about what currently isn't quite working?

[2022-03-14 18:31] cpcloud commented on #111
There is support in substrait itself for multiple relations: https://github.com/substrait-io/substrait/blob/main/proto/substrait/plan.proto#L34, but `ibis-substrait` only supports a single relation, mostly because it's not entirely clear what the meaning of multiple relations is.

[2022-03-14 19:07] rtpsw commented on #111
Agreed. I noticed this and my thinking was that a relation's input (single or left/right) could be changed to be either a `Rel` or a (numeric index) reference to a previous relation in the plan, where the default could be the last relation defined in the plan so as to get a sequence of table operations.

[2022-03-14 19:27] rtpsw commented on #111
@cpcloud, at first I'm interested in validating the proposed design, or reaching agreement on an alternative design. I would likely take on the implementation.

[2022-03-21 10:18] #74 closed

[2022-03-29 12:34] rtpsw commented on #100
@cpcloud: Given https://github.com/ibis-project/ibis-substrait/pull/101, should this be closed? and moved to ibis-project/ibis?

[2022-03-29 12:57] rtpsw opened #132 "Example of `mutate` from ibis doctests fails to compile in ibis-substrait"
To reproduce the issue for the [doctest example](https://github.com/ibis-project/ibis/blob/064d53e19e294aff80c981b9846220ce47ca6950/ibis/expr/types/relations.py#L539-L544):
[code]
The error says that protobuf is asked to merge the [expressions of the selections](https://github.com/ibis-project/ibis-substrait/blob/5d3d26414c21fa449bf2ab6bf1c87ce3920c51ba/ibis_substrait/compiler/translate.py#L654-L6

[2022-03-29 12:58] rtpsw commented on #132
cc @cpcloud, @icexelloss

[2022-03-29 13:48] icexelloss commented on #132
The issue might be that ibis's selection structure doesn't match substrait's selection structure

For mutate ibis has a TableExpr (original columns) and a list of ColumExpr (new columns). I *think* what we need to do here is to change the translation of Selection to destructure the TableExpr into a list of substrait Expression.

Curious to hear @cpcloud 's thought

[2022-04-29 07:39] rtpsw opened #181 "Fix missing timezone parameter in timestamp translation"
The timezone parameter of `TimestampTZ` is [missing here](https://github.com/ibis-project/ibis-substrait/blob/cdb651fcbc993a36503d024e55d3da6cda24a3e1/ibis_substrait/compiler/translate.py#L109).

[2022-05-01 12:45] rtpsw opened #184 "Expand table expression to its columns"
This is a proposal for making the handling of Substrait selections easier for Substrait consumers. Currently, Substrait consumers, such as Arrow, need to handle schema computations during Substrait deserialization in order to infer the columns of a table expression, which are needed for setting up a projection. In Arrow, such computations are not supported because schemata instances are only creat

[2022-05-12 09:15] cpcloud commented on #184
Closed by #185.

[2022-05-12 09:15] #184 closed

[2022-05-12 09:18] cpcloud commented on #132
Closed by #185.

[2022-05-12 09:18] #132 closed

[2022-05-12 09:19] cpcloud commented on #98
Closed by #137.

[2022-05-12 09:19] #98 closed

[2022-05-12 09:19] #100 closed

[2022-05-12 10:59] rtpsw commented on #181
Cancelled per the discussion in https://github.com/substrait-io/substrait/issues/190 .

[2022-05-12 10:59] #181 closed

[2022-05-12 11:57] cpcloud commented on #111
@rtpsw Can we close this out, or is there more to discuss?

[2022-05-12 12:52] rtpsw commented on #111
I currently do not have a pressing need for this, so I'm OK with closing this. If you have given this some thought, perhaps you can post your opinion about the proposed design, in case this gets reopened later.

[2022-05-13 16:44] cpcloud commented on #111
@rtpsw Can you give a sketch of what the API might look like here? I'm not following whether multiple relations here means "a single table expression composed of one or more subqueries" or literally a list of TableExprs.

[2022-05-13 16:56] rtpsw commented on #111
A `PlanRel` includes a single relation, which is [one of read, filter, fetch, etc](https://github.com/substrait-io/substrait/blob/main/proto/substrait/algebra.proto#L306-L321), so a plan with multiple `PlanRel` would have several of these. The (default) semantics I have in mind is wiring-relations-in-sequence. That is, if the plan has 3 `PlanRel` containing `ReadRel`, `FilterRel`, and `AggregateRe

[2022-05-13 16:59] cpcloud commented on #111
I think what you are describing is already the case. Since relations can be nested, you can compose them as you like and there can be arbitrarily many `Rel`s nested below the root.

[2022-05-13 16:59] #111 closed

[2022-05-13 17:14] rtpsw commented on #111
Indeed the existing nested-relations syntax is semantically equivalent but it cannot be extended to a DAG.

[2022-06-01 11:02] rtpsw opened #236 "feat: Add support for vectorized UDFs"
Currently, Ibis has [vectorized UDF nodes](https://github.com/ibis-project/ibis/blob/d7318fdf87121cd8fadbcf0369a2b217aab3053a/ibis/expr/operations/vectorized.py#L11-L50) that are not handled by Ibis-Substrait.

[2022-07-22 12:58] cpcloud opened #282 "bug: use of ibis-substrait 2.9.3 in tpc-queries fails"
A bizarre protobuf failure occurs when using ibis-substrait 2.9.3 as a dependency of tpc-queries when running in CI [here](https://github.com/ibis-project/ibis/runs/7458966745?check_suite_focus=true).

I'm able to reproduce this, but only when using pip or conda, not when using the nix setup.

What's strange is that the generated code seems to be missing the new `UserDefined` literal type entirely

[2022-07-22 13:32] gforsyth commented on #282
this is very odd

[2022-07-22 16:57] gforsyth commented on #282
This is extra wacky -- it's picking up on name changes in the `proto` files but is simultaneously failing to use that information:
[code]

[2022-07-22 17:08] gforsyth commented on #282
Hmm, and if I comment out `UserDefined` entirely I instead get a `KeyError` on `Parameter`, which is the message defined immediately after `UserDefined`

[2022-07-22 17:44] cpcloud commented on #282
Yeah, for some reason the newly added types aren't in the `_TYPE` descriptor. I'm not sure why.

[2022-07-22 18:51] gforsyth commented on #282
Also quite puzzling to me (unless I'm missing some weird edge case of the python import system) is that I can import the `type_pb2` module in a REPL without any errors

[2022-07-29 13:22] gforsyth commented on #282
DuckDB as of version 0.3.4 was bundling Substrait as a part of their Python library. Substrait is built with protobuf and protobuf has a global descriptor pool by default. So if two libraries (say, duckdb and ibis-substrait) each use a message type with the same name, whichever library is imported first will be the one that defines which message types are available.

The failure on Ibis' CI was be

[2022-07-29 13:22] #282 closed

[2022-08-09 15:22] gforsyth opened #313 "bug: positional offsets in some joins are wrong"
This is showing up (at least) in TPC-H Query 03 where we are translating a join incorrectly to join on a `str` to an `int32`, which is causing an attempted `CAST` that will definitely not work.

Going to bisect and see if I can find the culprit

[2022-08-10 20:01] gforsyth opened #317 "Incorrect field offsets for nested join where predicate points to root table"
The following test fails:
[code]

Note that the left side of the predicate in the second join is referencing `r.a` and not `expr.a`

[code]

[code]

[2022-08-16 15:03] gforsyth commented on #313
Fixed in #316

[2022-08-16 15:03] #313 closed

[2022-08-25 17:32] icexelloss opened #332 "Support AsofJoin operation"
Recently Asof Join has been added to Acero and I'd like to open an issue for supporting this via ibis/ibis-substrait.

@rtpsw has done some initial investigation and wrote up the finding below:

Ibis and Substrait both need some enhancements for integration with Arrow's AsofJoinNode.

Ibis defines an [AsOfJoin operation](https://github.com/ibis-project/ibis/blob/693005d5046eaace37b8c6d6d7d09104de9

[2022-08-25 17:39] icexelloss commented on #332
I think at the high level, the "shape" of asof join in ibis and Acero are different. I think the shape that supports multiple right tables are probably more general.

It's probably not to hard to change ibis asof join API signature to support multiple right tables (the `right` parameter can take a list of tables) and then the translation to substrait is more nature (assuming we have the multiple r

[2022-08-27 11:05] #317 closed

[2022-08-28 07:15] rtpsw commented on #332
Note that [`AsofJoin` op](https://github.com/ibis-project/ibis/blob/18e7f9555c3bf8c602ebcaef0188e03d7b0bd7ee/ibis/expr/operations/relations.py#L256) in Ibis, which is defined as a left join operation, is derived from a `Join` op, which is limited to a left and right table. It may make sense to define a multi-table join op for the former to derive from.

An Ibis `AsofJoin` design point that is not

[2022-08-28 20:12] rtpsw commented on #332
Looking into [this](https://github.com/ibis-project/ibis-substrait/issues/332#issuecomment-1229396569) a bit more, I suspect there is a larger design issue at play here. The Ibis predicates could either be handled by a (pandas) backend, where they are worked out by a column matching logic, or would be embedded in a Substrait plan via translation (per the current issue). This embedding effectively

[2022-08-31 14:58] gforsyth opened #336 "bug: incorrect extension function naming scheme"
Substrait expects an absolutely bonkers function signature which we are not doing correctly.

https://substrait.io/extensions/#function-signature-compound-names

[2022-09-01 20:06] icexelloss opened #337 "Issue with platformdirs in the dependency"
Hi,

I am trying to import ibis-substrait into our build system and hit an issue with `platformdirs`. It seems it is built with "hatchling" and our internal system doesn't understand "hatchling" build system.

After looking at the substrait code, I didn't find where it was being used in the source code, perhaps this is a dev dependency and not a regular dependency?

[2022-09-01 20:09] icexelloss commented on #337
From what I understand, the actual dependencies are just `protobuf` and `ibis-framework`? (I actually don't see where sqlalchemy is used either"

[2022-09-02 14:07] gforsyth commented on #337
Hey @icexelloss -- I'm cleaning up the dependencies now.  `hatch` and `hatchling` are part of the group of ever increasing PEP517-compatible build systems.  But yes, the only dependencies for regular usage should be `ibis-framework` and `protobuf`.  We are still using `packaging` to handle some ibis 2.x to 3.x stuff but I'm about to rip that out.

[2022-09-02 19:49] #337 closed

[2022-09-06 13:29] icexelloss commented on #332
@cpcloud Any thoughts? I think the easiest to start with is to keep the ibis API unchanged for now but allow substrait protobuf to contain a list of right tables, and make it a list of 1 right tables for ibis asof join.

Internally, we do not use ibis asof join node directly so it's not hard for us to create custom translation rule for our internal AsofJoin node to create a list of right side tabl

[2022-09-06 15:34] icexelloss opened #342 "How do I generate the substrait protobuf files with a lower protobuf version"
I am importing ibis-substrait codebase into our internal system and hit an issue - Internally we are using protobuf 3.19 which does not work with the protobuf source files in ibis-substrait (I think required >= 3.20). I think there are two ways to move forward:

(1) Upgrade our internal protobuf. I am looking into this but could potentially be difficult to do quickly.
(2) Generate substrait protob

[2022-09-06 16:30] gforsyth commented on #342
Hey @icexelloss -- longer-term, I would definitely recommend that you upgrade `protobuf` -- I think substrait is standardizing around the version defined in their `buf` spec and that's `3.20`.

Shorter-term, this is the shell script that gets run to generate the python stubs:
https://github.com/ibis-project/ibis-substrait/blob/main/shell.nix#L27-L48

the contents of `/.proto` is a clone of the ups

[2022-09-06 18:13] icexelloss commented on #342
Thanks for the pointer! I will give it a shot.

[2022-09-06 18:40] icexelloss opened #343 "substrait_validator in test_tpch.py"
Hi,

I am testing ibis-substrait and notice test_tpch.h is failing because it cannot find `substrait_validator` - out of curiosity what is this package?

[2022-09-06 19:34] gforsyth commented on #343
https://github.com/substrait-io/substrait-validator

It validates substrait plans against the spec

[2022-09-07 18:06] cpcloud commented on #343
Should we make this an optional dependency?

[2022-09-07 18:08] cpcloud commented on #332
@icexelloss An as of join that accepts multiple right tables seems fine to me. It's a bit different from the rest of the join operators, but I don't think that should matter much.

[2022-09-07 18:10] cpcloud commented on #332
We would like to change joins to be variadic internally in ibis, but I'm not sure that'll be ready/done by the time you need this functionality elsewhere and it sounds like you've got your own internal node for this anyway :)

[2022-09-07 19:48] #343 closed

[2022-09-07 19:48] icexelloss commented on #343
Thanks for the reponse

[2022-09-07 19:49] #342 closed

[2022-09-07 19:49] icexelloss commented on #342
Close this now since I think I have what I need. Thx!

[2022-09-13 13:03] rtpsw commented on #332
I created [a PR](https://github.com/substrait-io/substrait/pull/331) for this.

[2022-09-13 15:25] gforsyth commented on #343
@cpcloud -- it's listed under the dev dependencies.  Or were you proposing adding it as an `extras_require` option?

[2022-09-13 16:46] cpcloud commented on #343
Ah, I think I misunderstood. Thanks for clearing it up.

[2022-10-06 18:45] cpcloud opened #365 "bug: project rels are not correct"
According to the substrait spec, project rels always append, and removal of columns is done through `emit`. Right now, ibis-substrait only keeps the most recently computed expressions around.

We should change the implementation to always keep the columns from the previous relation and, drop them implicitly using `emit`.

[2022-10-06 20:00] icexelloss commented on #365
Thanks @cpcloud, does this explain why

[code]
Doesn't work as well?

[2022-10-06 20:03] cpcloud commented on #365
Most likely. `mutate` is just sugar for a project

[2022-10-11 21:31] wjones127 opened #368 "feat: add math functions to mapping"
Functions such as `sqrt` and `pow` could be added to https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/mapping.py

https://ibis-project.org/docs/3.2.0/api/expressions/numeric/#ibis.expr.types.numeric.NumericColumn.corr

Many of these are available in: https://github.com/substrait-io/substrait/blob/main/extensions/functions_arithmetic.yaml

[2022-10-11 22:00] wjones127 opened #369 "feat: default literals to nullable=False"
From #256:

The downsides are that Acero does not handle them. See:

 * https://github.com/apache/arrow/blob/master/cpp/src/arrow/engine/substrait/expression_internal.cc#L299-L302
 * https://issues.apache.org/jira/browse/ARROW-15540

[2022-10-12 13:37] gforsyth commented on #369
yeah, that's a downside!

I think at the very least we should be pulling nullability information from ibis so the ibis expression can specify non-nullable and then that gets translated correctly

[2022-10-12 19:12] gforsyth commented on #368
Closed via #350

[2022-10-12 19:12] #368 closed

[2022-10-12 19:57] jcrist commented on #369
Should be fixed by #373.

[2022-10-12 22:34] wjones127 opened #374 "bug: ifelse doesn't seem to work"
[code]

Produces:

[code]

But in theory this is implemented:

https://github.com/ibis-project/ibis-substrait/blob/9e680ef232055fc243677f36d45b9ac4f8143b52/ibis_substrait/tests/compiler/test_decompiler.py#L274-L275

[2022-10-13 12:51] jcrist commented on #374
I believe this was fixed already by #367.

[2022-10-13 13:12] gforsyth commented on #374
Closed via #367

[2022-10-13 13:12] #374 closed

[2022-10-13 13:41] #369 closed

[2022-10-13 14:16] renovate[bot] opened #377 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting ':' near s: ["proto`

[2022-10-13 15:17] gforsyth commented on #377
closed via #378

[2022-10-13 15:17] #377 closed

[2022-10-14 15:41] gforsyth commented on #365
I'm working on fixing this up -- should hopefully have a draft up soon.

[2022-10-17 20:28] icexelloss opened #384 "feat: Allow passing of kwargs in compile"
Currently the translation methods all take kwargs but it's not exposed in the `compile` method. Should be pretty easy to add.

[2022-10-17 21:19] icexelloss opened #385 "bug: Recent changes breaks compatiblity with ibis 3.x"
I think this recent change:
https://github.com/ibis-project/ibis-substrait/commit/abbdf130ec2ed6b4491709614cd09ca0744f888e

Breaks compatibility with ibis 3.x change:
I got this error "module ibis.expr.operations has no attribute 'StringContains'"

[2022-10-18 17:26] #385 closed

[2022-10-19 14:26] #365 closed

[2022-10-20 14:55] icexelloss commented on #365
Hi - I tested this against Acero but still got an error.

I was testing this with https://github.com/wjones127/ibis-substrait/ and it does pick up the fix below but still doesn't work.

The Error I got is:
pyarrow.lib.ArrowInvalid: Invalid column index to add field
from
pyarrow._substrait.run_query

[2022-10-20 15:14] gforsyth commented on #365
Hey @icexelloss -- I'm not sure what's up, but I can run code like that without issue against a recent built of `pyarrow`.  If you have a reproducer I'm happy to take a look.

[code]

[2022-10-20 15:18] gforsyth commented on #365
@icexelloss What version of `pyarrow` are you running against?

[2022-10-20 15:42] icexelloss commented on #365
I can try bumping pyarrow / arrow version to latest to see

[2022-10-20 15:44] gforsyth commented on #365
I think that's definitely worth checking -- I know there were some recent upstream fixes in Arrow for substrait stuff.

[2022-10-20 17:33] wjones127 commented on #365
I think it would be most helpful when posting these to provide the generated substrait plan. That makes is easier to triage whether it's the consumer or the producer that's causing the issue.

<details>
<summary>Script to produce failing query</summary>

[code]
</details>

<details>
<summary>Failing query: query-1.json</summary>

[code]
</details>

<details>
<summary>Script to try queries in Acero

[2022-10-20 18:07] wjones127 commented on #365
Ah, you are correct. After fixing that the query runs fine 👍

[2022-10-20 18:34] icexelloss commented on #365
So I updated Pyarrow code to 2022-10-20 nightly build and I can run this code now!

However, I observed an correctness issue - when I did

t = t[['a', 'b','c']]
and
t = t[['a', 'b', 'd']]

It gave me the same value for c and d, I checked the substrait_plan and it seems the direct reference field seems correct (2 in the first case and 3 in the second case), but still `run_query` give me same result

[2022-10-20 19:13] wjones127 commented on #365
@icexelloss Could you post the Substrait JSON?

[2022-10-20 19:24] icexelloss commented on #365
Here is the two json that gives same result
[code]

And

[code]

[2022-10-20 19:24] icexelloss commented on #365
I noticed the first field is empty - don't know if this is an issue or not
[code]

[2022-10-20 19:26] icexelloss commented on #365
Sorry I don't have a fully reproducible script because this is connected to our internal data source systems

[2022-10-20 19:26] gforsyth commented on #365
that `output_mapping` is wrong -- it shouldn't be `0, 1, 2` for either of those plans.  What's the `ibis` code that generated these?

[2022-10-20 19:32] icexelloss commented on #365
And what is the correct value for `output_mapping`? I can maybe try to trace it internally.

[2022-10-20 19:38] gforsyth commented on #365
It's supposed to be a zero-indexed reference to the output columns, but also including the input columns, so we count the number of columns in the unbound tables that the expression is built on.

For three output columns, with the 11 columns in your base schema, the `output_mapping` should be [11, 12, 13]

The reason your second example works is just the luck that the first 3 columns in the input

[2022-10-20 19:41] icexelloss commented on #365
I see, can you point me to where output_mapping is computed?

[2022-10-20 19:43] gforsyth commented on #365
It's here: https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/translate.py#L738-L752

[2022-10-20 19:54] icexelloss commented on #365
I traced a bit deeper, here is what I found what I wonder what is wrong:
In this function:
https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/translate.py#L697

`child_rel_field_offsets` is `{}`
`relation.project` is None (so it didn't enter the branch in https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/translate.py#L746)
`mapping_count

[2022-10-20 20:01] icexelloss commented on #365
I found our internal ibis-substrait rule to translate the custom named table is missing this line:
https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/translate.py#L657

So I added it, but doesn't seem to make a different - relation.project is still None

[2022-10-20 20:03] icexelloss commented on #365
Sorry, my comment about `relation.project` is wrong - It is not None but `relation.project.common.ListFields()` returns an empty list

[2022-10-20 20:04] gforsyth commented on #365
The `ListFields()` call should be an empty list unless you have nested projections

[2022-10-20 20:07] icexelloss commented on #365
Hmm. Ok so where should the mapping_counter be increased then if `ListFields()` is empty?

[2022-10-20 20:07] gforsyth commented on #365
`mapping_counter` should be set to a value equal to the number of columns in your underlying table.
Does your table object not have a `schema` attribute?

[2022-10-20 20:08] icexelloss commented on #365
Oh I know what the issue is - my ibis node class is not a subclass of "UnboundTable"

[2022-10-20 20:09] icexelloss commented on #365
Yep - our node is only a subclass of _ops.TableNode and not UnboundTable

[2022-10-20 20:22] icexelloss commented on #365
Yeah I think the issue is that our data source node don't inherent from the ibis UnboundTable (I think originally because "name" doesn't quite make sense to all of our internally data source node and we override the `schema` to be property for reasons I don't remember).

Is there a way to make this code more flexible to handle custom source node in additional to `UnboundTable`? Maybe provide a hoo

[2022-10-20 20:25] icexelloss commented on #365
Let me open a new issue for this because I think this is out of the scope of the original ticket

[2022-10-20 20:30] icexelloss opened #393 "Custom data source node doesn't work with selection"
During testing of projection, we noticed that our custom data source node that doesn't work with the mapper counter logic here:

https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/translate.py#L743

This is because our internal data source only inherent from ibis `TableNode` but not `UnboundTable` (internally we have basically our own class for Data source node and we

[2022-10-20 20:30] icexelloss commented on #365
I opened this ticket to discussion option to support custom data sources: https://github.com/ibis-project/ibis-substrait/issues/393

[2022-10-20 20:36] icexelloss commented on #393
Our internally data source basically defined as
[code]
Other data source node inherent from this class

[2022-10-21 13:13] gforsyth commented on #393
I would argue that `UnboundTable`s are inherently non-specific.  They allow for construction of expressions and Substrait plans without any connection to the data that the consumer engine will execute on.

I'm not sure about using `PhysicalTable` -- the only thing separating `PhysicalTable` from `UnboundTable` is that `UnboundTable` requires both a `schema` and a `name`, which are both things that

[2022-10-21 14:24] jcrist commented on #393
@icexelloss what substrait do you generate for your custom table source? If your custom data source maps to a `NamedTable` in substrait, then I'd argue that an `UnboundTable` is the proper type. If it's something else (e.g. one of https://github.com/substrait-io/substrait/blob/main/proto/substrait/algebra.proto#L67-L72), then we might use `PhysicalTable` or define a new op type in `ibis-substrait`

[2022-10-21 14:50] icexelloss commented on #393
I tried to inherit internal node to `UnboundTable` but get an attribute conflict - I think this is because we either defined schema as a method/property on our nodes (we use _schema to store the actual schema) and/or because of the `name` attribute.

I think using UnboundTable is maybe OK but perhaps `UnboundTable` should be a pure interface that defines exposes the `schema` and let the user that

[2022-10-21 14:52] icexelloss commented on #393
Yes we current map this to `NamedTable` but this might be temporary - In the future we might consider using a substrait extension type rather than the NamedTable.

[2022-10-21 15:00] icexelloss commented on #393
This is less ideal because internally we already have an ibis node class that represents our custom data source `IbisLeafTableNode` that already works with Pandas/Spark backends. Turning `IbisLeafTableNode -> UnboundTable` is additional customization that we need to do for the Acero backend and increases internally complexity, since now the ibis node for the same logical thing is different among b

[2022-10-21 15:07] jcrist commented on #393
I think trying to get this working would be the best path forward for now. Especially since you're currently generating `NamedTable` nodes for your custom type, this seems the most correct option.

Can you post more information about the errors you're seeing, or (better yet) a code snippet with the subclass that produces those errors?

[2022-10-21 15:17] gforsyth commented on #384
Closed via #386

[2022-10-21 15:17] #384 closed

[2022-10-21 15:48] icexelloss commented on #393
Are their any tactical solution that we might be able to use to solve this?
Ideally changes local to ibis substrait

On Fri, Oct 21, 2022 at 11:46 AM Li Jin ***@***.***> wrote:

[2022-10-21 16:15] jcrist commented on #393
I've pushed up a simple but non-ideal solution in #394. Can you test that to see if it resolves your problem?

In the long run it would be better to adapt your code, but I understand that can be tricky to do under a time crunch.

[2022-10-21 16:24] icexelloss commented on #393
Thanks for the tactile fix - I will test it on Monday and report back

On Fri, Oct 21, 2022 at 12:15 PM Jim Crist-Harif ***@***.***>
wrote:

[2022-10-25 19:40] icexelloss commented on #393
I tested internally and this works. If there is no objection I'd suggest we merge this patch and think more about long term solutions for this.

[2022-10-25 20:17] #393 closed

[2022-10-25 20:50] icexelloss commented on #393
Thank you!

[2022-10-28 16:40] wjones127 opened #400 "feat: support FunctionOption"
https://github.com/substrait-io/substrait/pull/342 will introduce a change in how functions are represented, moving the enum arguments (like "overflow") into the "options" field.

Currently, we produce something like:

[code]

And we will need to produce:

[code]

[2022-11-02 14:14] jcrist opened #407 "Add support for `Log`"
Ibis-substrait currently supports `log10`, `log2`, and `ln`, but not `log`. AFAICT this is `logb` (https://github.com/substrait-io/substrait/blob/main/extensions/functions_logarithmic.yaml#L95) in substrait.

[2022-11-02 14:16] jcrist opened #408 "Add support for `FloorDivide`"
`ibis-substrait` currently supports `Divide` but not `FloorDivide`.

[2022-11-02 14:17] jcrist opened #409 "Add support for `Clip`"
`substrait` doesn't have a builtin method for this AFAICT, but the functionality may be composable from other builtin methods?

[2022-11-02 14:31] gforsyth commented on #407
This should be straightforward and quick to add -- we need a rule to dispatch on `ops.Log` and Ibis (I believe) handles setting the log base to `e` if it isn't specified.

[2022-11-02 14:36] gforsyth commented on #408
On the dispatching side, this is straightforward because we have `ops.FloorDivide`.

On the substrait side, I think we can perform the division and then call `floor` -- will need to confirm that, but this is low-medium effort

[2022-11-02 14:49] gforsyth commented on #409
We can do this with a kind of gross `CASE WHEN` and we'll probably have to handle nullability, too

[2022-11-02 14:51] gforsyth commented on #409
this is a little more involved than `FloorDivide` and `Log` but it _should_ be manageable without a huge lift.  Ideally, `clip` will be added to the substrait extensions which will simplify the implementation on our end.

[2022-11-02 14:57] cpcloud commented on #409
Can't we turn this into a translation of:

[code]
?

[2022-11-02 15:04] amoeba commented on #409
I _think_ Substrait doesn't have least/greatest yet but there's [a PR](https://github.com/substrait-io/substrait/pull/247). I also filed an issue on the Substrait repo to [discuss Clip](https://github.com/substrait-io/substrait/issues/366).

[2022-11-02 15:33] icexelloss commented on #409
I think we can do
[code]
?

[2022-11-02 15:41] icexelloss opened #410 "`Ceil` and `Floor` returns floating type when executing with Acero"
I observed that when I execute `ceil` and `floor` with Acero backend, it returns a double column where in ibis this is an integer column.

To make this consistent, perhaps we should add a cast operator when translating ibis to substrait?

[2022-11-02 15:43] cpcloud commented on #409
@icexelloss That seems reasonable until least/greatest or an explicit clip function is supported in substrait.

[2022-11-02 15:43] cpcloud commented on #410
Yeah, that sounds like the right approach here.

[2022-11-02 19:42] #407 closed

[2022-11-02 20:01] #408 closed

[2022-11-02 21:26] #409 closed

[2022-11-03 20:22] icexelloss commented on #332
We can close this for now - We moved forward with an internal AsofJoin node.

[2022-11-03 20:22] #332 closed

[2022-11-03 20:27] rtpsw opened #416 "Help find cause of "ValueError: Found non-unique column index""
Using Bamboo with a recent version of feature/bamboo-demo branch, I ran into a “ValueError: Found non-unique column index” exception that I need help with. The code is basically doing an as-of-join between tables with that differ in all the names of all columns except the ones being joined on. The as-of-join translation function is our code, so it could be involved. The translation results in an e

[2022-11-03 20:56] icexelloss commented on #408
Hi - tested and got the following error,

my code is
[code]

[code]

I got the following error:
[code]

[2022-11-14 14:43] icexelloss commented on #416
I think this issue ended up being on the Acero side

[2022-11-14 15:10] gforsyth commented on #416
Thanks for the update @icexelloss!  I'm going to close this out, then.  You can ping here if there are changes needed on the ibis-substrait side

[2022-11-14 15:10] #416 closed

[2022-11-14 15:34] icexelloss opened #423 "Emit Outputing mapping is incorrect for AsofJoin"
Hi - I have found something wrong with Emit output mapping if I use asof join in my plan. The ibis-substrait what I used is in this branch: https://github.com/wjones127/ibis-substrait/tree/protobuf-3-19
Which includes a AsofJoin extension message:
https://github.com/wjones127/ibis-substrait/blob/protobuf-3-19/ibis_substrait/proto/extension_rels_pb2.py#L12

The code I have is internal, but it looks

[2022-11-14 16:40] gforsyth commented on #423
Can you post the full substrait plan?

[2022-11-14 16:47] icexelloss commented on #423
[code]

[2022-11-14 17:00] icexelloss commented on #423
The output schema of the join table is just "time, tid, return_raw_prev_1d_lag, CONDITIONER" and @wjones127 appears to think that something is wrong with the emit outputting. I don't understand this enough to say if this issue is on ibis-substrait or Acero. How exactly does "emit output mapping" works?

[2022-11-14 17:16] wjones127 commented on #423
There is a unit test within Arrow that contains the expected semantics for columns indices:

https://github.com/westonpace/arrow/blob/e8b99218ce09c23246a8320a1bd45790bcbb6df1/cpp/src/arrow/engine/substrait/serde_test.cc#L3665-L3815

In the plan it joins two tables:

[code]

They are joined with `time` as `on` key and `key` as `by` key.

It them uses `"outputMapping": [0, 1, 2, 3]`, which outputs t

[2022-11-14 17:27] icexelloss commented on #423
I don't know how to do that, the emit output mapping is computed out side of my code (it is in translate.py) so I am not sure I can fix my code (if there is a way let me know)

[2022-11-14 17:57] wjones127 commented on #423
@icexelloss In the long-term, are you planning on contributing your as-of join implementation into this repo? If so, have you considered adding your as-of join implementation in a fork for now? That might make the output mapping logic easier to modify.

[2022-11-14 19:00] icexelloss commented on #423
I am not sure. Although I am not sure how that would help because the emit logic is computed here:
https://github.com/ibis-project/ibis-substrait/blob/main/ibis_substrait/compiler/translate.py#L744

One thing we can try to do is to make the ibis asof join node and I can just mimic that the ibis asof join node internally. (they are very similar)

[2022-11-14 19:01] icexelloss commented on #423
But for the problem at hand - I don't think it is an issue with the translation rule for "asof join", if it is, let me know how I can fix it. Our implementation is already shared here:
https://github.com/ibis-project/ibis-substrait/issues/416#issue-1435219918

[2022-11-14 19:51] wjones127 commented on #423
So my understanding right now is that in order for you to be able to implement as-of join, we need to provide better utilities to handle the column indices for novel `translate()` implementations, such as this asof join case. @gforsyth does that make sense? I'd be happy to pair with you or someone else to get this working.

[2022-11-14 19:56] gforsyth commented on #423
There are means of defining custom translation rules, I think the issue here is that the asof-join unpacking logic in Arrow seems to be in conflict with the existing rule for handling `ops.Selection`.
We can special case this behavior, but I would really rather not do that because it appears to me that the selection logic specifically around this node is different from other substrait selection lo

[2022-11-15 15:02] icexelloss commented on #423
Can you please elaborate?

[2022-11-15 15:28] gforsyth commented on #423
For any other projection in substrait, so far as I am aware, something in this pattern:
[code]

will have a flattened list of columns consisting of
All columns in t1
All columns in t2
All columns in final projection

so

[code]

And to refer to those columns, you use the index of the flattened list to pull out the columns you want.  This is what `output_mapping` does.

From what I can see in the A

[2022-11-15 15:45] wjones127 commented on #423
Well it doesn't conform to the current expectations of ibis-substrait, but it's not clear to me the current setup is generally correct. Is there a place in the substrait spec we can point to that describes the correct behavior?

cc @westonpace

[2022-11-15 17:09] westonpace commented on #423
No, asof join is an extension and not formally part of the spec.

I think we just need to agree on something.  @gforsyth is correct in that every other relation in Substrait (I think) includes all inputs in its output.  As an example, the join relation includes the key.

One could even argue that, in the asof join case, repeating the time column could be useful in some corner case scenarios (e.g.

[2022-11-15 17:26] westonpace commented on #423
I spoke with @gforsyth and I think we want to do this the right way.  So, if we agree it is in C++ I can probably get to it in the next week or two (I am a bit heads down at the moment trying to wrap up scanner tasks to unblock ARROW-15732).  If Li or Yaron have time to do a PR then I can review it as well.

[2022-11-16 15:27] icexelloss commented on #423
[code]
This is a bit surprising to me as SQL join operation (for example, in Spark) can de duplicate join keys as well. How does substrait handles that? Also, how about aggregation operation (aggregation doesn't include inputs in output as well)?

[2022-11-16 21:54] icexelloss commented on #423
This is interesting - can you expand on this? (I think what you mean is to have output emitting like `[6, 7, 8, 9]` in this and handles that in the Substrait consumer but I am not sure)

True. The `on` is de duplicated because most of the time, people don't care about the time of the right side table (think it as a fuzzy alignment), and when they do - they will manually duplicate the right time co

[2022-11-18 17:58] westonpace commented on #423
Let's assume the inputs each have 1 `on` column, 1 `by` column, and 1 payload column.  The current asof join node will output 4 columns, `[on, by, p1, p2].  The Substrait plan will expect 6 columns, `[on1, by1, p1, on2, by2, p2]`.  As long as the emit from substrait is `[0, 1, 2, 5]` then we don't need to do anything.  If the emit is anything else then we can solve this by inserting an Acero proje

[2022-11-21 14:50] icexelloss commented on #423
I am sure that I understand this 100% so I will try to rephrase:

Using the same example of `on1,by1,p1,on2,by2,p2` as the input columns, and `on1, by1, p1, p2` as the asof join output columns. Currently the emit mapping is `[6, 7, 8, 9]`. To make Acero work, we need to add a dummy projection after asof join in Acero that  `on1, by1, p1, p2` -> `on1, by1, p1, on1, by1, p2`, and then project it bac

[2022-11-21 14:56] icexelloss commented on #423
Also, reading this doc: https://substrait.io/relations/basics/#emit-output-ordering
It seems that there is `Remap` which states that "This remapping can be also used to drop columns no longer used (such as a filter field or join keys after a join). " - Does that not handle the case that we are talking about here?

[2022-11-23 01:18] westonpace commented on #423
@icexelloss Here is an example of how this might be achieved.  It allows the extension full control to remap the emit info in whatever way makes sense.  For asof join the implementation was kind of complicated (for me) but it was just shuffling around numbers in the correct order :)

So, in the unit test (which matches the `[on1, by1, p1, on2, by2, p2]` case) the emit requested from the producer i